body { background-color: #E11364;
text-align: center;}

h1 {background-color: #B10F57;
color: #F2F2F3;
border-right: 5px solid #F2F2F3;
border-left: 5px solid #F2F2F3;
text-align: center;
padding: 5px 5px;
font-size: 50px;
margin: 20px 200px;}

h2 {background-color: #B10F57;
color: #F2F2F3;
margin: 20px 200px;}

h2{ text-align: justify;}

h3 {background-color: #F2F2F3;
color: #9C1042;
border-bottom: 2px dotted #9C1042;
text-align: right;}

section{ margin: 25px 200px;
    background-color: white; }

section { padding: 15px 10px;
    text-align: left;
    border-radius: 10px; }

.boton{color: white;
    justify-content: center; 
    margin-left: 45%; 
    margin-right: 50%; 
    border-radius: 10px;
    background-color: green;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-weight: bold;}

.boton {font-family: Arial, Helvetica, sans-serif;}

button:hover{ background-color: #9C1042;}

.fondofooter{
    background-color: #E96093;
    padding: 5px 5px;
    margin: 40px 170px;
    border-radius: 10px;}
figure {display: flex;
    justify-content: center;}

.MarioKart {max-width: 100%;
    height: auto;}

.MortalKombat { width: 1089px;
    max-width: 100%;
    height: auto;}








