body{
    background-color: #121212;
    color: white;
    text-align: center;
}

header{
    background-color:none;
    display: flex;
    align-items: center;
}

button{
    border-radius: 5px;
    border: none;
    background-color: black;
    color:#ffffff;
    padding: 20px 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .5s;
}
button:hover{
    color:green;
}

h1{
    text-align: initial ;
    display: flex;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}  


.icono{width: 50px;
    height: 50px;
    display: flex;
    margin-right: 10px;
}

.imagenes{
    width: 800px;
    height: 500px;
    border: solid,red 15px;
    max-width: 100%;
    height: auto;
}

figure{
    display: flex;
    justify-content: center;
}

div{
    background-color: #202020;
    margin-left: 50px;
    margin-right: 50px;
    border: solid red 5px;
    margin-top: 15px;}

.divh2{
    background-color: #202020;
    border: solid, red, 5px;
}

.letrah3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
