body{
    background-color: #121212;
    color: white;
    text-align: center;
}

header{
    background-color:none;
    display: flex;
    align-items: center;
}

button{
    border: none;
    background-color: #202020;
    color:#98969A;
    padding: 20px 25px;
    cursor: pointer;
}
button:hover{
    color:white;
}

.fuenteh1 {
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

h1{
    text-align: initial ;
    display: flex;
}

.icono{width: 50px;
    height: 50px;
    display: flex;
    margin-right: 15px;
}

.imagenes{
    width: 800px;
    height: 500px;
    border: solid,red 15px;
    max-width: 100%;
    height: auto;
}

figure{
    display: flex;
    justify-content: center;
}

div{
    background-color: black;
    margin-left: 50px;
    margin-right: 50px;
    border: solid red 5px;
margin-top: 15px;}

.divh2{
    background-color: #98969A;
    border: solid, red, 5px;
}